[submodule "splunk"]
	path = log-vendors/splunk
	url = https://github.com/jfrog/log-analytics-splunk.git
        branch = master
[submodule "elastic"]
	path = log-vendors/elastic-fluentd-kibana
	url = https://github.com/jfrog/log-analytics-elastic.git
        branch = master
[submodule "datadog"]
	path = log-vendors/datadog
	url = https://github.com/jfrog/log-analytics-datadog.git
        branch = master
[submodule "prometheus"]
	path = log-vendors/prometheus-fluentd-grafana
	url = https://github.com/jfrog/log-analytics-prometheus.git
        branch = master
