[submodule "splunk"]
	path = log-vendors/splunk
	url = https://github.com/jfrog/log-analytics-splunk.git
[submodule "elastic"]
	path = log-vendors/elastic-fluentd-kibana
	url = https://github.com/jfrog/log-analytics-elastic.git
